.playerProgressBar{
    height: 100%;

    &, &__rail, &__progress{
        position: relative;
    }

    &, &__rail{
        width: 100%;
    }

    &__rail, &__progress{
        height: $playerProgressBarRailHeight;
    }

    &__rail{
        top: $playerProgressBarRailMarginTop;
    }

    &__progress{
        width: 10%;
    }

    &__thumb{
        $offset: 25%;

        position: absolute;
        right: 0;
        @include tb(-1 * $offset);
        transform: translateX(50%);
        width: calc(#{$playerProgressBarRailHeight} * #{2*stripUnit($offset)/100 + 1});
        border-radius: $fullWidth;
    }
}