.playerProgressBar{
    height: 100%;

    &, &__rail, &__progress{
        position: relative;
    }

    /*&, &__rail{
        // width: 100%;
        max-width: 100%;
    }*/


    &__rail{
        width: 100%;
    }

    &__rail, &__progress{
        height: $playerProgressBarRailHeight;
    }

    &__rail{
        top: $playerProgressBarRailMarginTop;
        cursor: pointer;
    }

    &__progress{
        width: 10%;
    }

    &__thumb{
        $offset: 25%;

        position: absolute;
        right: 0;
        @include tb(-1 * $offset);
        transform: translateX(50%);
        width: calc(#{$playerProgressBarRailHeight} * #{2*stripUnit($offset)/100 + 1});
        border-radius: $fullWidth;

        transition: transform 0.2s ease-in-out;
        cursor: -webkit-grab;

        &:hover, &.active{
            transform: translateX(50%) scale(1.1);
        }

        &.active{
            cursor: -webkit-grabbing;
        }
    }
}