.topbar{
    position: relative;
    z-index: $supraIndex;

    width: $topBarWidth;
    height: $topBarHeight;

    & .dragHandle{
        -webkit-app-region: drag;
        width: $topBarDragHandleWidth;
        height: $topBarDragHandleHeight;
        float: left;
        cursor: -webkit-grab; 
    }

    & .left{
        // width: $topBarLeftWidth;
        float: left;
    }

    & .right{
        // width: $topBarRightWidth;
        float: right;
    }

    & .left, & .right{
        position: relative;
        height: 100%;
    }
}