.ps{
	@each $o in (y, x){
		& > .ps__rail-#{$o}{
			border-radius: $fullWidth;
			&, & *{
				z-index: $scrollbarIndex;
			}
			
			&, & > .ps__thumb-#{$o}{
				opacity: 0;
				transition: opacity $transitionDuration ease-in-out;
			}
		}
	}

	&--active-{
		@each $o in (y, x){
			&#{$o}{
				& > .ps__rail-#{$o}{
					&, & > .ps__thumb-#{$o}{
						opacity: 1;
					}
				}
			}
		}
	}


	position: relative;
	overflow: hidden;

	&__rail-y{
		opacity: 0;
		transition: opacity $transitionDuration ease-in-out;

		position: absolute;
		//right: $scrollbarSpacing;
	
		@include margin-vertical($scrollbarSpacing);
		// margin-top: $scrollbarMarginTop;
		// margin-bottom: $scrollbarMarginBottom;

		width: $scrollbarWidth;
		height: $scrollbarHeight !important;
		//left: unset !important;
		left: $scrollbarLeft !important;
	
        background-color: $secondary;
        
		box-shadow: $regularShadow;
		
		&, & > .ps__thumb-y{
			cursor: pointer;
		}
	
		& > .ps__thumb-y{
			position: relative;
			right: $scrollbarThumbSpacing;
	
			width: $scrollbarThumbWidth;
			background-color: $accent;
	
            border-radius: $fullWidth;
            
            filter: drop-shadow($regularDropShadow);
		}
	}

	&__rail-x{
		opacity: 0;
		transition: opacity $transitionDuration ease-in-out;

		position: absolute;
		//bottom: $scrollbarSpacing;

		@include margin-horizontal($scrollbarSpacing);
		//top: unset !important;
		top: $scrollbarTop !important;

		background-color: $secondary;
		box-shadow: $regularShadow;

		height: $scrollbarWidth;

		&, & > .ps__thumb-x{
			cursor: pointer;
		}

		& > .ps__thumb-x{
			position: relative;
			bottom: $scrollbarThumbSpacing;
			height: $scrollbarThumbWidth;

			background-color: $accent;
			border-radius: $fullWidth;
			
            filter: drop-shadow($regularDropShadow);
		}
	}
}

.ps{
	&[data-scrollbar-no-x]{
		& > .ps__rail-x{
			display: none !important;
		}
	}

	&[data-scrollbar-no-y]{
		& > .ps__rail-y{
			display: none !important;
		}
	}
}