@import "~spinner-lord/css/spinner-lord";

/**@@ Styles @@**/
/**
*@span-amount 3
*/
#spinner-lord.vuelectronMusic {
    -webkit-app-region: drag;

    background-color: $bg;

    $a: $accent;
    $b: $default;
    $c: $secondary;

    $size: 0.5vh;
    
    & > span{
        &:nth-child(1){
            transition: border-top-color 0.3s ease-in-out;

            &::after{
                border: $size solid transparent;
                border-top-color: $a;
            }
    
            &::before {
                border: 0 solid transparent;
            }
        }

        &:nth-child(2){
            &::after{
                content: "";
                border: $size solid transparent;
                border-left-color: $b;
            }

            &::before {
                border: 0 solid transparent;
            }
        }

        &:nth-child(3){
            &::after {
                content: "";
                border: $size solid transparent;
                border-bottom-color: $c;
            }

            &::before {
                border: 0 solid transparent;
            }
        }
    }
}

/*/////////////////////////////////////////////////////////////////*/

/**@@ Size and Positions @@**/
#spinner-lord.vuelectronMusic{
    position: relative;
    z-index: $overTheTopIndex;

    $dim: 10vh;
    $spacing: 2vh;

    & > span{
        display: block;
        width: $dim;
        height: $dim;
        position: relative;
        
        margin: 4*$dim auto;

        &:nth-child(2){
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            
            margin: 4*$dim+$spacing auto;
            transform: rotate(106deg);/*rotate(96deg);*/
        }

        &:nth-child(3) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            
            margin: 4*$dim+2*$spacing auto;
            transform: rotate(206deg);/*rotate(196deg);*/
        }
    }
}

/*/////////////////////////////////////////////////////////////////*/

/**@@ Animations @@**/