@import "~@css/_mixins";
@import "~@css/_variables";

*:not(.material-icons){
	box-sizing: border-box;
	font-family: r;
}

body, #app{
	width: $fullWidth;
	height: $fullHeight;
	overflow: hidden;

	background-color: $bg;
	color: $white;
}

.container{
	height: calc(#{$fullHeight} - #{$topBarHeight});
}

.ps{
	position: relative;
	width: $fullWidth;
	//height: $fullHeight;
	overflow: hidden;

	&__rail-y{
		position: absolute;
		right: $scrollbarSpacing;
	
		@include margin-vertical($scrollbarSpacing);
		width: $scrollbarWidth;
		height: $scrollbarHeight;
	
		background-color: $secondary;
	
		& > .ps__thumb-y{
			position: relative;
			right: $scrollbarThumbSpacing;
	
			width: $scrollbarThumbWidth;
			background-color: $accent;
	
			border-radius: 100vw;
		}
	}
}

// ::-webkit-scrollbar{
// 	position: relative;
// 	z-index: 2;
// 	background-color: transparent;
// 	width: 10px;
	
// 	&-button, &-corner, ::-webkit-resizer{
// 		display: none;
// 	}
	
// 	&-track{
// 		background-color: $secondary;
// 		border-radius: 5px;
// 	}
	
// 	&-thumb{
// 		background-color: $accent;
// 		border-radius: 5px;
// 	}
// }
