@import "~@css/_mixins";
@import "~@css/_variables";

@import "~@css/_spinner-lord";
@import "~@css/_scrollbar";

//$animationDuration: 0.3s;
//@import "~vue2-animate/src/sass/vue2-animate";

*{
	font-size: $fontSize;
	letter-spacing: $letterSpacing;

	*.material-icons{
		font-size: $iconFontSize;
	}
}

body, #app{
	width: $fullWidth;
	height: $fullHeight;
	overflow: hidden;

	background-color: $bg;
	color: $white;
}


