@import "~@css/_mixins";
@import "~@css/_variables";

body, #app{
	width: $fullWidth;
	height: $fullHeight;
	overflow: hidden;

	background-color: $bg;
	color: $white;
}

::-webkit-scrollbar{
	position: relative;
	z-index: 2;
	background-color: transparent;
	width: 10px;
	
	&-button, &-corner, ::-webkit-resizer{
		display: none;
	}
	
	&-track{
		background-color: $secondary;
		border-radius: 5px;
	}
	
	&-thumb{
		background-color: $accent;
		border-radius: 5px;
	}
}