.vc-photoshop{
    background: unset !important;

    &, & *:not(.vc-saturation-circle){
        color: $white !important;
        font-family: r !important;
        box-shadow: unset !important;
        user-select: none !important;
    }

    filter: drop-shadow($regularDropShadow);
    $radius: 10px;

    & .vc-ps{
        &-head{
            @include topRadius($radius);

            background-image: unset;
            background-color: $bgDark;
            color: $white;

            box-shadow: unset;
            border: none;
        }

        &-body{
            @include bottomRadius($radius);

            background-color: $bg;
            color: $white;

            & *{
                border: none;
            }

            & .vc-ps-controls{
                & .vc-ps-previews{
                    &__label{
                        color: $white;
                    }
                }
            }

            & .vc-ps-actions{
                & .vc-ps-ac-btn{
                    border: none;
                    background-image: unset;
                    color: $white;

                    filter: drop-shadow($regularDropShadow);

                    &:first-child{
                        background-color: $accent;

                        &:hover{
                        }
                    }

                    //TODO: Check this (everyone from the 2nd)
                    &:nth-child(n+2){
                        background-color: $default;
                    }
                }

                & .vc-ps-fields{
                    & .vc-editable-input{
                        & .vc-input__input{
                            background-color: $default;
                            border: none;
                            box-shadow: inset 0 0 1px 2px $white;

                            user-select: all;
                            text-align: center;

                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
}
