.playlist{
    //position: relative;
    display: block;

    width: $fullWidth;//$playlistWidth;
    height: $playlistHeight;

    & table{
        position: relative;
        display: block;

        width: $playlistTableWidth;
        height: $playlistTableHeight;

        & .head, & .body{
            position: relative;
            display: block;
        }
    
        & .head{
            width: $playlistHeadWidth;
            height: $playlistHeadHeight;

            & tr{
                @include playlistSharedTrStyles;
            }
        }
    
        & .body{
            width: $playlistBodyWidth;
            height: $playlistBodyHeight;
        }
    }
}