.playlist{
    //position: relative;
    display: block;

    width: $playlistWidth;
    height: $playlistHeight;

    & table{
        position: relative;
        width: $playlistTableWidth;
        height: $playlistTableHeight;

        & .head, & .body{
            position: relative;

            & tr{
                position: relative;

                &::before{
                    z-index: $topIndex;
                    content: "";
                    position: absolute;
                    @include trbl(0);
                }
            }
        }
    
        & .head{
            width: $playlistHeadWidth;
            height: $playlistHeadHeight;

            & tr{
                @include playlistSharedTrStyles;
                height: 100%;
            }
        }
    
        & .body{
            width: $playlistBodyWidth;
            height: $playlistBodyHeight;
            //position: relative;
        }
    }
}