.playlist{
    & table{
        & .head{
            & tr{
                background-color: $bg;

                &:hover{
                    background-color: $bgDark;
                }
            }
        }

        & .body{
            & tr:nth-child(even){
                background-color: $secondary;

                &:hover{
                    background-color: $secondaryDark;
                }
            }

            & tr:nth-child(odd){
                background-color: $default;

                &:hover{
                    background-color: $defaultDark;
                }
            }

            & tr.active{
                background-color: $accent;

                &:hover{
                    background-color: $accentDark;
                }
            }
        }
        
        & tr{
            //box-shadow: $bottomShadow;
            transition: background-color $transitionDuration ease-in-out;
            &::before{
                box-shadow: $bottomShadow;
            }
        }
    }
}