{% layout "components/layout" %}

{% block title %}Vuelectron Music{% endblock %}

{% block js %}
	<script src="/assets/js/index.bundle.js"></script>
{% endblock %}

{% block body %}
	<top-bar></top-bar>
	<div class="container" data-scrollbar>
		<drag-drop-test></drag-drop-test>
	</div>
{% endblock %}