.topbar__btn{
    width: $topBarButtonWidth;
    height: $topBarButtonHeight;

    float: left;
    cursor: pointer;

    & .btnText{
		user-select: none;
        font-size: $topBarButtonFontSize;
        @include margin-horizontal($topBarButtonMarginH);
        @include margin-vertical($topBarButtonMarginV);
    }
}