@mixin mmwidth($size){
    min-width: $size;
    max-width: $size;
    width: $size;
}

@mixin mmheight($size){
    min-height: $size;
    max-height: $size;
    height: $size;
}

@function stripUnit($number){
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}