@mixin padding-horizontal($size){
    padding-left: $size;
    padding-right: $size;
}

@mixin padding-vertical($size){
    padding-top: $size;
    padding-bottom: $size;
}

@mixin margin-horizontal($size){
    margin-left: $size;
    margin-right: $size;
}

@mixin margin-vertical($size){
    margin-top: $size;
    margin-bottom: $size;
}

@mixin tb($size: 0){
    top: $size;
    bottom: $size;
}

@mixin lr($size: 0){
    left: $size;
    right: $size;
}

@mixin trbl($size: 0){
    @include tb($size);
    @include lr($size);
}