.ddt{
	position: relative;
	width: $fullWidth;
	height: 80vh;
	
	& .dropzone{
		width: $fullWidth;
		height: 50%;
	}
	
	& .path{
		display: block;
		width: $fullWidth;
		height: 10%;
	}

	& .files{
		display: block;
		width: $fullWidth;
		//height: 40%;
	}
}