@use "./mixins" as *;
@use "./variables" as *;

//$animationDuration: 0.3s;
//@import "~vue2-animate/src/sass/vue2-animate";

*{
	letter-spacing: $letterSpacing;
	-webkit-font-smoothing: subpixel-antialiased;
	box-sizing: border-box;
}

:root,
html {
	font-family: r;
	font-size: $fontSize;
}

body, #app{
	width: $fullWidth;
	height: $fullHeight;
	overflow: hidden;
	position: relative;
	overscroll-behavior: none;

	background-color: $bg;
	color: $white;
}

.material-icons{
	font-size: $iconFontSize;
}
