/*****************************************************\
    Globals
\*****************************************************/
$darkenAmount: 4;//4;

$palette: (
	bg: #0d121a,
	default: #192433,
	accent: #0e8a80,
	secondary: #25364d,

	whiteColor: white,
	blackColor: black,
);



/*****************************************************\
    External bonuses
\*****************************************************/
$fbWhite: #e9ebee;
$fbBlue: #3b5998;
